.App-Header{
  height: 100px;
  background-color: #24292E;
}


.App-Header div p{
  font-size: 20px;
  font-family: 'Trebuchet MS';
  color: white;
}

.Cursor-Pointer{
  cursor: pointer;
}

.bg-dark{
  z-index: 9999;
}