@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS'), url(./assets/trebuc.woff)  format('woff');
  }

.App-Header{
  height: 100px;
  background-color: #24292E;
}


.App-Header div p{
  font-size: 20px;
  font-family: 'Trebuchet MS';
  color: white;
}

.Cursor-Pointer{
  cursor: pointer;
}

.bg-dark{
  z-index: 9999;
}